body {
    font-family: segoe print;
    background: url("https://cdna.artstation.com/p/assets/images/images/003/095/110/large/-screenshot0328-2.jpg?1469613059");
}
.zagolovok{
    text-align: center;
    background-color: tomato;
    opacity: 0.6;
    box-shadow: 7px 3px 0 2px violet;
}
.done{ 
   background-color: green; 
   opacity: 0.8;
}
.dtwo{
    background-color: pink; 
   opacity: 0.8;
}
nav{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding: 7px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}
.one{
    text-align: left;
}
.two{
    position: center;
}
footer{
    background-color: blueviolet;
    opacity: 0.8;
    padding-bottom: 10px;
}
li{
    color: black;
}
a{
    color: black;box-shadow: 5px 5px 5px 3px blue;
    background-image: linear-gradient(to right, rgb(41, 204, 196), green, blueviolet);
}

